/* This style sheet is loaded only if the screen width is at most 960px */

/* For debug: red headline on tablets */
h1 {
  /*color: red !important;*/
}

/* Container of page body */
html > body #box {
  width: 95%;
  max-width: 100%;
}

/* Container of head text */
#head #about {
  width: 95%;
  padding-top: 13px;
}

/* Container for the header */
#header-content {
  width: 95%;
}

/* --- Content sizes --- */
code {
  font-size: 120%;
}

body {
  font-size: 20px;
}

#content p, #content li {
  line-height: 40px;
}
