/* This style sheet is loaded only if the screen width is at most 960px */

#box, #header-content, #foot {
  width: 100%;
}

#box {
  margin-left: 0;
  margin-right: 0;
}

#content {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#header-content {
  width: 95%;
}

/* font size is bigger: all the rest scales thanks to percentages */
/* note: we must use the html > body notation to have "more priority" (because we are "more specific") wrt the default stylesheet */
html > body {
  font-size: 20px;
}

/* mobile vs. default alternatives */
.mobile {
  display: initial; /* does not work in ie, who cares */
}

.default {
  display: none;
}

/* ======================== */
/* Style for the title page */
/* ======================== */

#mainmenu > ul {
  display: block;
  margin-bottom: 20px; /* space between sections */
  /*background-color: yellow;*/
  padding: 0;
}

#mainmenu > ul > li {
  width: 100%;
  display: block;
}

#mainmenu > ul > li > #itemtitle,
#mainmenu > ul > li > #itemcontent {
  width: auto;
  display: block;
}

#mainmenu > ul > li > #itemtitle {
  width: auto;
}

#mainmenu > ul > li > #itemcontent {
  width: auto;
  border-left: 0;
  border-top: 4px solid #ddd;
}
