/* @override 
  http://www.paperplanes.de/themes/paperplanes/stylesheets/screen.css
  http://localhost:3000/themes/paperplanes/stylesheets/screen.css
  http://192.168.2.106:3000/themes/paperplanes/stylesheets/screen.css
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400,600|Inconsolata:400,700);

/* General */

body {
  font: 300 18px 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #4c4c4c;
  background-color: #f5f5f5;
  text-align: center;
}

img {
  max-width: 600px;
  margin: 0px auto;
}

a img {
  border: 0;
}

#box {
  margin: 20px auto;
  text-align: left;
  width: 650px;
  padding-right: 0px;
}

#pagetitle, #toc, #content {
  margin: 0 20px 30px 20px;
  /*background-color: yellow;*/
}

#foot {
  width: 100%;
  clear: both;
  margin-bottom: 25px;
  margin-top: 20px;
}

#foot p {
  margin: 0;
}

#footer-content {
  font-size: 80%;
  text-align: center;
}

/* Header */

#head {
  margin: 0px;
  height: 130px;
  min-height: 130px;
  width: 100%;
  background-color: #2B7598;
  text-align: left;
}

#header-content {
  width: 610px;
  /* To remember the order: TRouBLe :-) */
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

#header-content > #about-valign-helper {
  display: table;
  height: 100%;
}

#about-valign-helper > #about {
  display: table-cell;
  vertical-align: middle;
}

/* Small image at right on the header */
#header-content #paperplane {
  float: right;
  margin-top: 17px;
}

#head #about {
  color: white;
}

#head h1 {
  color: white;
  font-size: 160%;
  margin: 0;
}

#head p {
  font-size: 100%;
  margin: 0;
  margin-top: 5px;
}

#head a {
  color: white;
  text-decoration: underline;
}

#head a:hover {
  text-decoration: none;
}

/* Links */

a:link, a:visited, a:active {
  color: #2B7598;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

h1 a, h2 a, h3 a, h4 a {
  color: inherit !important;
}

h1 a, h1 a:hover {
    color: #fff;
    text-decoration: none;
    background: none;
    padding: 0;
    margin: 0;
}

h1 a:hover {
    color: #fff;
    text-decoration: underline;
}

/* Misc */

br {
  clear: both;
}

blockquote {

  font-style: italic;

  border-left: 4px solid #ddd;
  margin: 20px 0 20px 0; /* same as code blocks */
  padding-left: 0.75em;

  color: #6c6c6c; /* slightly darker than body's #4c4c4c */

}

#content ul, #content ol {
  margin: 0;
  padding-left: 1.5em;
}

#content p, #content li, #toc li {
  text-align: justify;
  line-height: 1.7;
}

/* Code */

/* Code blocks (on multiple lines) */
#content pre {

  /* internal margin */
  padding: 4px;

  /* distance from the text (it collapses though) */
  margin-top: 20px;
  margin-bottom: 20px;

  /* border and background */
  border: 1px solid #eaeaea;
  background-color: white;
  border-radius: 6px;

  /* scrollbar control */
  overflow: auto;

  /* glow effect */
  -moz-box-shadow: 0 0 20px #eaeaea;
  -webkit-box-shadow: 0 0 20px #eaeaea;
  box-shadow: 0px 0px 20px #eaeaea;

}

#content pre > code, /* code inside the code blocks */
#content p code, #content li code, #content blockquote code /* code inline */ {
  font-weight: 400;
  font-family: Inconsolata, Monaco, 'Courier New', monospace;
}

/* Inline code */
#content p code, #content li code, #content blockquote code {
  /*color: #2B7598; <-- same as links */
  color: #CA2121;
  background-color: #fafafa;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  padding: 3px;
}

/* Headers */

/*
 * Note!
 * This color is dark blue: #2B7598
 * This color is dark grey: #4C4C4C
 */

/* --- all h* --- */
#content h1, #content h2, #content h3, #content h4, #toc h2 {
  line-height: 1.2;
  font-weight: 400; /* normal */
  margin-top: 30px;
  margin-bottom: 10px;
  color: #2B7598;
}

/* --- h1 --- */
#content h1, #pagetitle h1 {
  font-size: 160%;
}

/* --- h2 --- */
#content h2, #toc h2 {
  font-size: 150%;
  font-weight: 600; /* bold */
}

/* --- h3 --- */
#content h3 {
  font-size: 115%;
}

/* --- h4 --- */
#content h4 {
  font-size: 100%;
  font-style: italic;
}

/* Styles */

strong {
  font-weight: 400; /* normal weight; because text is light */
}

/* Table of Contents */

#toc ul, #toc ol {
  list-style-type: none;
  margin: 0;
}

/* no indentation on *first* ul */
#toc-content > ul, #toc-content > ol {
  padding: 0;
}
