---
title: welcome
layout: tweet

printtitle: false
createtoc: false
parnumbers: false
---

<div id="mainmenu">

  <ul>
    <li>
      <div id="itemtitle">Me</div>
      <div id="itemcontent">
        <ul>
          <li><a href="http://personalpages.to.infn.it/~berzano/pub/Berzano-CV-en.pdf">My Curriculum Vitae</a></li>
          <li><a href="http://about.me/dario.berzano">about.me</a></li>
        </ul>
      </div>
    </li>
  </ul>

  <ul>
    <li>
      <div id="itemtitle">The ALICE Experiment @ CERN</div>
      <div id="itemcontent">
        <ul>
          <li><a href="/alice/install-aliroot">AliRoot installation</a></li>
          <li><a href="/alice/git">ALICE Git tutorial</a></li>
          <li><a href="/alice/debug">Basic code debugging</a></li>
          <li><a href="/alice/alien-certificate">Installing the AliEn certificate</a></li>
          <li><a href="/alice/release-validation">AliRoot Release Validation on the Cloud</a></li>
        </ul>
      </div>
    </li>
  </ul>

  <ul>
    <li>
      <div id="itemtitle">Cloud</div>
      <div id="itemcontent">
        <ul>
          <li><a href="/cloud/centos">CentOS 6 Cloud Image</a></li>
        </ul>
      </div>
    </li>
  </ul>

  <ul>
    <li>
      <div id="itemtitle">My Ph.D. thesis</div>
      <div id="itemcontent">
        <p><i>A ground-up approach to High Throughput Cloud Computing in High-Energy Physics</i></p>
        <ul>
          <li><a href="http://personalpages.to.infn.it/~berzano/pub/Berzano-PhDThesis-v1.0.pdf">Thesis</a></li>
          <li><a href="http://personalpages.to.infn.it/~berzano/pub/Berzano-PhDThesis-Defense.pdf">Slides</a></li>
        </ul>
      </div>
    </li>
  </ul>

</div>

{% if paginator.posts %}
<div id="posts">
{% for post in paginator.posts %}
{% if post.showinlist != false %}
<h1 class="posttitle"><a href="{{ post.url }}">{{ post.title }}</a></h1>
<p class="postdate">{{ post.date | date: "%A, %b %d, %Y" }}</p>
{% if post.content.size > 300 %}
<p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p><p class="postmore"><a href="{{ post.url }}">continue reading...</a></p>
{% else %}
{{ post.content }}
{% endif %}
<div class="postdivider"></div>
{% endif %}
{% endfor %}
{% include navbar.html %}
</div>
{% endif %}
