<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>dario berzano ~ {{ page.title }}</title>
    <meta name="robots" content="index,follow"/>
    <meta name="mssmarttagspreventparsing" content="true"/>
    <link rel="shortcut icon" href="/images/favicon.gif" type="image/gif" />
    <link rel="icon" href="/images/favicon.gif" type="image/gif" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  	<meta name="author" content="Dario Berzano"/>
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href="/css/syntax.css" rel="stylesheet" type="text/css" />
    <link href="/css/screen.css" media="screen" rel="stylesheet" title="paperplanes" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/mobile.css" media="handheld, only screen and (max-device-width: 960px)" />
    <!-- <script src="//code.jquery.com/jquery-2.1.0.min.js"></script> -->
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/misc.js"></script>
    <script>
      Misc.general = {
        container : '#content',
        toc : '#toc',
        toc_content : '#toc-content'
      };
      Misc.auto_anchors = {
        start_level : 2,
        use_names : true,
        prepend_numbers : true,
        create_toc : true
      };
      $(document).ready( Misc.init );
    </script>
  </head>
  
  <body id="www-paperplanes-de">

    <div id="head">
      <div id="header-content">
        <a href="/">
          <img src="/images/me_south_park.png" id="paperplane"/>
        </a>
        <div id="about-valign-helper">
          <div id="about">
            <h1>Hi, I'm Dario Berzano!</h1>
            <p>I work at <a href="http://cern.ch">CERN</a> as Cloud Developer and Sysadmin.</p>
          </div>
        </div>
      </div>
    </div>

    <div id="box">

      <div id="pagetitle">
        <h1>{{ page.title }}</h1>
      </div>

      <div id="toc">
        <h2>Table of contents</h2>
        <div id="toc-content"></div>
      </div>

      <div id="content">
        {{ content }}
      </div>

    </div>

    <div id="foot">
      <div id="footer-content"><p>Made with &hearts; by Dario Berzano. Layout inspired by <a href="http://www.paperplanes.de/">Paperplanes</a>.</p>
      </div>
    </div>

  </body>
</html>
