<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>dario berzano ~ {{ page.title }}</title>
    <meta name="robots" content="index,follow"/>
    <meta name="mssmarttagspreventparsing" content="true"/>
    <link rel="shortcut icon" href="/images/favicon.gif" type="image/gif" />
    <link rel="icon" href="/images/favicon.gif" type="image/gif" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  	<meta name="author" content="Dario Berzano"/>
    <link href="/css/syntax.css" media="screen" rel="Stylesheet" type="text/css" />
    <link href="/css/screen.css" media="screen" rel="Stylesheet" title="paperplanes" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/mobile.css" media="handheld, only screen and (max-device-width: 960px)" />
  </head>
  
  <body id="www-paperplanes-de">
    <div id="head">
      <div id="header-content">
        <a href="/">
          <img src="/images/me_south_park.png" id="paperplane">
        </a>
        <div id="about">
          <h1 class="default">Hi, I'm Dario Berzano!</h1>
          <p style="color: white" class="default">
            I work at <a href="http://cern.ch">CERN</a> as Cloud Developer and Sysadmin.
          </p>
        </div>
      </div>
    </div>

    <div id="box">
      <div id="content">
        <h1 class="pagetitle">{{ page.title }}</h1>

        {{ content }}
       
        <div id="footer">
          <div id="footer_text">
            Made with &hearts; by Dario Berzano
            <!--<a href="/archives.html">Archives</a>, <a href="http://www.paperplanes.de/rss.xml" title="Full-text RSS feed">RSS Feed</a>, &copy; 2007-2014 Mathias Meyer <a href="/imprint.html">Imprint</a>-->
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
