<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>dario berzano ~ {{ page.title }}</title>
    <meta name="robots" content="index,follow"/>
    <meta name="mssmarttagspreventparsing" content="true"/>
    <link rel="shortcut icon" href="/images/favicon.gif" type="image/gif" />
    <link rel="icon" href="/images/favicon.gif" type="image/gif" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  	<meta name="author" content="Dario Berzano"/>
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href="/css/syntax.css" rel="stylesheet" type="text/css" />
    <link href="/css/screen.css" media="screen" rel="stylesheet" title="paperplanes" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/mobile.css" media="handheld, only screen and (max-device-width: 960px)" />
    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>

<script>

$(document).ready( function() {

  // Separate at this tag name
  tag_name = 'h2';

  // jQuery object containing what we want to paginate
  container_name = 'content';

  // Class name of the pages
  paginator_class = tag_name + '-paginated';

  all = '';
  tag_name = tag_name.toUpperCase();

  // I can change the DOM while iterating on it
  // http://stackoverflow.com/questions/4735604/jquery-each-behavior-if-changing-dom-within-loop

  in_page = false;
  page = undefined;

  $( '#'+container_name ).children().each( function() {

    // Separate at tag named tag_name (i.e., H2 -- uppercase)
    if ( $(this).prop('tagName') == tag_name ) {

      page = $('<div></div>').addClass(paginator_class);
      $(this).after( page );

    }
    else if (page !== undefined) {

      // alert(in_page);
      $(this).detach().appendTo( $(page) );

    }

  } );

});



</script>

  </head>
  
  <body id="www-paperplanes-de">

    <div id="head">
      <div id="header-content">
        <a href="/">
          <img src="/images/me_south_park.png" id="paperplane"/>
        </a>
        <div id="about-valign-helper">
          <div id="about">
            <h1>Hi, I'm Dario Berzano!</h1>
            <p>I work at <a href="http://cern.ch">CERN</a> as Cloud Developer and Sysadmin.</p>
          </div>
        </div>
      </div>
    </div>

    <div id="box">
      {% if page.countsections == true %}
      <!-- h2, h3, h4 will be numbered by css -->
      <div id="content" class="countsections">
      {% else %}
      <div id="content">
      {% endif %}
        <h1 class="pagetitle">{{ page.title }}</h1>

        {{ content }}
       
        <div id="footer">
          <div id="footer_text">
            Made with &hearts; by Dario Berzano. Layout forked from Mathias Meyer's <a href="http://www.paperplanes.de/">Paperplanes</a>.
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
